# Project exclude paths
/.dart_tool/
/android/.gradle/
/android/app/build/
/android/app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/android/build/
/build
/linux/flutter/ephemeral/.plugin_symlinks
/.idea/libraries
/.idea/